<h1> Index Page! </h1>

<% @todos.each do |todo| %>
  <li><%= todo.title %></li>
  <li><%= todo.priority %></li>
  <%= link_to "edit", edit_todo_path(todo[:id]) %>
  <%= link_to "delete", todo, method: :delete, data: { confirm: "Are You Sure?" }%>
<% end %>