<h1>Todos</h1>

<div class="new-todo-form"></div>
<%= link_to "New todo", new_todo_path, remote: true, class: "new-todo-button button radius" %>


<div class='not-completed'>
  <ul>
  <% @todos.where("status = 0").order(:priority).each do |todo| %>
  <%= render todo %>
  <% end %>
  </ul>
</div>



<ul id='completed'>

  <% @todos.where("status = 1").order('updated_at DESC').each do |todo|%>
  <%= render todo %>
  <% end %>
</ul>
<!-- <ul>
  <%= @completedtodos %>
</ul>
 -->