/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.l-inline {
  display: inline-block;
}

li {
  list-style: none;
}

ul {
  padding-left: 0px;
}

div > a:focus, div > a:hover{
    text-decoration: none;
}

.todo-li {
  margin: 2em;

}





#todo-ul li h3, #todo-ul li h4,#completed-todo-ul li h3, #completed-todo-ul li h4  {
  word-break: break-word;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

#todo-ul {
  padding-left: 0px;
}


.High {

  color:red;

}

.Medium {
  color: yellow;
}

.Low {
  color:orange;
}

.display-none {
  display: none;
}

.edit, .delete {

  float: right;
  margin-left: 1em;

}

.completed {
  text-decoration: line-through;
}




